<!DOCTYPE html>
<html>
<head>
    <title>Panel de Administración</title>
</head>
<body>
    <h1>Panel de Administración</h1>
    
    <div>
        <h2>Usuarios</h2>
        
        <a href="/admin_users">Ver usuarios</a>
        
        <!-- Agrega más enlaces o botones para administrar usuarios -->
    </div>
    
    <div>
        <h2>Pagos</h2>
        
        <a href="/admin_pagos">Ver pagos</a>
        <!-- Agrega más enlaces o botones para administrar pagos -->
    </div>
    
    <div>
        <h2>Peticiones</h2>
        <a href="/admin_peticiones">Ver peticiones</a>
        
        <!-- Agrega un enlace para cada estado posible de las peticiones -->
        
        <!-- Puedes agregar más enlaces para otros estados de las peticiones -->
    </div>
    
    <!-- Agrega más secciones para otras funcionalidades de administración -->
    
</body>
</html>
