<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="static/login.css">
</head>
<body>
  <div class="container">
    <form action="{{ url_for('login') }}" method="post" class="login-form">
      <h1>Iniciar Sesión</h1>
      <div class="form-group">
        <input type="email" name="email" placeholder="Correo Electrónico" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Contraseña" required>
      </div>
      <button type="submit" class="btn-primary">Iniciar Sesión</button>
      {% if error %}
      <p class="error-message">Correo electrónico o contraseña incorrectos</p>
      {% endif %}
      <p class="register-link">¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
    </form>
  </div>
</body>
</html>
