<!DOCTYPE html>
<html>
<head>
  <title>Nueva Petición</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" type="text/css" href="static/nuevo_pago.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
  
  <nav>
    <div class="navbar">
      <div class="logo-container">
        <img src="static/images/favicon.png" alt="Logo de la compañía" class="logo">
        <a href="#" class="company-name">Wabo Technologies</a>
      </div>
      <div class="notification-container">
        <a href="/notificaciones" class="notification-toggle">
          <i class="fas fa-bell" style="color: white;"></i>
          <span class="badge"></span>
        </a>
        <div class="notification-content">
          <ul id="notification-list"></ul>
        </div>
      </div>
      <div class="dropdown-container">
        <a href="#" class="dropdown-toggle">Opciones <i class="fas fa-chevron-down" id="dropdown-icon"></i></a>
        <div class="dropdown-content">
          <a href="/welcome">Inicio</a>
          <a href="/peticiones">Mis peticiones</a>
          <a href="/notificaciones">Notificaciones</a>
          <a href="/mis_pagos">Mis pagos</a>
          <a href="/mis_datos">Mis datos</a>
          <a href="https://wa.me/+5491151797471">Contactanos</a>
          <a href="/">Cerrar Sesión</a>
        </div>
      </div>
      
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="sub-container">
      <h1>DATOS PARA LA TRANSFERENCIA</h1>
    </div>
    
  </div>
  <div class="container">
    <div class="sub-container">
      <h1>Cuenta Santander Rio.</h1>
      <h1 class="alias">ALIAS : FIREBIRDBIKES</h1>
    </div>
  </div>
  
  
  <div class="instructions">
    <p>Por favor, explica detalladamente los agregados que deseas y cualquier otra información relevante.</p>
    <p>Ten en cuenta que la modificación puede llevar tiempo y serás notificado cuando los cambios sean aplicados.</p>
  </div>
  <script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "order": [[0, "desc"]]
        });
    });

    const dropdownToggle = document.querySelector('.dropdown-toggle');
    const dropdownContent = document.querySelector('.dropdown-content');

    dropdownToggle.addEventListener('click', function(event) {
        event.preventDefault();
        dropdownContent.classList.toggle('show');
    });

    window.addEventListener('click', function(event) {
        if (!event.target.matches('.dropdown-toggle') && !event.target.matches('.dropdown-toggle i')) {
            dropdownContent.classList.remove('show');
        }
    });
</script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.querySelector('.dropdown-toggle');
    const dropdownContent = document.querySelector('.dropdown-content');
    const dropdownIcon = document.querySelector('.dropdown-toggle i');

    dropdownToggle.addEventListener('click', function(event) {
      event.preventDefault();
      dropdownContent.classList.toggle('show');
    });

    dropdownIcon.addEventListener('click', function(event) {
      event.preventDefault();
      dropdownContent.classList.toggle('show');
    });

    window.addEventListener('click', function(event) {
      if (!event.target.matches('.dropdown-toggle') && !event.target.matches('.dropdown-toggle i')) {
        dropdownContent.classList.remove('show');
      }
    });
  });
  const dropdownIcon = document.querySelector('#dropdown-icon');

dropdownIcon.addEventListener('click', function(event) {
event.preventDefault();
dropdownContent.classList.toggle('show');
});
</script>
</body>
</html>
